
body{
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;

    /* default font */
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;

}


.container{

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #0F1144;
}


.container__content{

    max-width: var(--main-width);
    margin: auto;
    display: flex;
    flex-direction: column;
}

.bg-gradient{
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
}



.align-center{
    align-items: center;
}

.overflow-hidden{
    overflow: hidden;
}


@media only screen and (max-width: 1130px) {
    .container__content{
        margin: 0px 10px;
    }

}


/* ----- BUTTON ----- */

.btn{
    /* button font */
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    border-radius: 4px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    transition: transform .1s ease-in-out;
}

.btn:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.btn--small{
    padding: 10px 25px;
    /* min-width: 115px; */
}

.btn--medium{
    padding: 15px 35px;
    /* min-width: 155px; */
}

.btn--big{
    padding: 20px 35px;
    /* min-width: 165px; */
}


.btn--filled{
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: white;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    
}

.btn--empty{
    background-color: transparent;
    border: 1px solid var(--orange);
    color: var(--orange);
    box-sizing: border-box;
}

@media only screen and (max-width: 331px) {
    .btn--small{
        padding: 10px 10px;
    }
}




/* ----- HEADERS ----- */

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

h1{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: var(--turquoise);
}

h3{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.33px;
    color: var(--turquoise);
}

h1 > span,
h3 > span{
    color: var(--orange);
}







/* ----- PARAGRAPH ----- */
p{
    font-family: 'Gilroy';
    font-weight: 600;
    color: var(--purple);
    margin: 0;
}

















